@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@400;600;800&family=JetBrains+Mono:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Anton", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  
  --color-neon-green: #00FF00;
  --color-brutal-black: #000000;
  --color-gallery-white: #FFFFFF;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-gallery-white);
  color: var(--color-brutal-black);
}

.font-display {
  font-family: var(--font-display);
}

.font-mono {
  font-family: var(--font-mono);
}

